

.pokemon-wrapper{
    display: flex;
    justify-content: space-evenly;
}

.item{
    background: rgb(165 128 163 / 50%)!important;
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 8.5px );
-webkit-backdrop-filter: blur( 8.5px );
border-radius: 10px!important;
border: 1px solid rgba( 255, 255, 255, 0.18 );
width: 20rem;
padding: 20px;
}

.stats{
    text-transform: capitalize;
}

.types{
    display: flex;
    justify-content: flex-start;
}

.types p{
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;;
}

.pokeName{
    text-align: center;
    text-transform: capitalize;
    margin: 2rem auto;
    background: hotpink;
    width: 320px;
    padding: 1rem;
    border-radius: 17px;
}